[2017-03-22 09:49] b0wl opened #2 "strange behaviour while calling function during assertion"
[code]

Duplicated `len(b) < 5` after assertion line both in traceback and error msg.

Edit:
[code]

[2017-03-22 14:24] rhiever opened #5 "Please port this project to Python 3"
Great project, but please port it to the modern version of the language!

[2017-03-22 16:10] #2 closed

[2017-03-22 16:14] Qix- commented on #5
Done!

[2017-03-22 16:14] #5 closed

[2017-03-22 16:14] paradoxxxzero commented on #2
@b0wl could you please confirm?

[2017-03-22 16:21] b0wl commented on #2
@paradoxxxzero Resolved for Python2.

[2017-03-22 16:21] Qix- commented on #2
:+1: Thanks again @paradoxxxzero!

[2017-03-22 16:24] paradoxxxzero commented on #2
You're welcome!

[2017-03-22 17:25] Qix- opened #6 "Windows users can't see \u2515"
Windows users can't see U+2515, as reported by [this comment](https://www.reddit.com/r/Python/comments/60scld/i_made_python_exceptions_a_little_better/df9oqm2/).

[2017-03-22 17:29] #6 closed

[2017-03-22 17:49] JohnVillalovos opened #7 "Unicode error when stderr is redirected in Python 2.7"
Ran into this error:

    $ ./tt.py 2>&1 | cat
    Error in sys.excepthook:
    Traceback (most recent call last):
      File "/home/openstack/better_exceptions.py", line 194, in excepthook
        print(full_trace, file=sys.stderr)
    UnicodeEncodeError: 'ascii' codec can't encode character u'\u2502' in position 99: ordinal not in range(128)

    Original exception was:
    Traceback (most recen

[2017-03-22 18:30] ethanhs commented on #7
Could you try changing line 194 to read `print(full_trace.encode('utf-8'), file=sys.stderr)`. I believe while piping Python defaults to your terminals encoding or ascii or some such thing. That small change should fix it.

[2017-03-22 18:35] JohnVillalovos commented on #7
That fixed it for Python 2.

But for Python 3 it looks like this :(

    $ python3 test.py 2>&1 | cat
    b'Traceback (most recent call last):\n  File "test.py", line 18, in <module>\n    shallow(bar, 15)\n    \xe2\x94\x82       \xe2\x94\x94 2\n    \xe2\x94\x94 <function shallow at 0x7f35891b5f28>\n  File "test.py", line 9, in shallow\n    deep(a + b)\n    \xe2\x94\x82    \xe2\x94\x82   \xe2\x94\x

[2017-03-22 18:44] philer opened #8 "Color support for non-xterm terminals"
The nocolor check is a bit too strict:
[code]
There are a lot of terminals that don't set their TERM env to xterm but support colors (e.g. TERM=urxvt-unicode-256color), including the TTYs on many systems. I'd suggest omitting the TERM check or limiting it to a few common excludes.

---
PS: If anyone else uses a terminal where color support is blocked (like urxvt) you can work around it by explicit

[2017-03-22 18:52] Qix- commented on #8
Yep, I'll do a proper fix for this sometime today.

[2017-03-22 18:53] Qix- commented on #7
Just out of curiosity, what does `$ echo $LANG` say? :)

[2017-03-22 19:03] JohnVillalovos commented on #7
LANG=en_US.UTF-8

[2017-03-22 19:04] Qix- commented on #7
Actually, what about `$ echo $LC_ALL`?

Also, what's your terminal?

Fix is inbound for this btw. I've reproduced.

[2017-03-22 19:07] JohnVillalovos commented on #7
Nothing for LC_ALL

Using MobaXterm and using Gnome Terminal on Fedora 25.

[2017-03-22 19:14] Qix- commented on #7
Can you try using the `fix-encoding` branch?

[2017-03-22 19:25] Qix- commented on #8
Does the branch `fix-colors` work for you? :)

[2017-03-22 19:28] JohnVillalovos commented on #7
Works for me. Thanks!

[2017-03-22 19:31] Qix- commented on #7
Going to wait for #8 to resolve (it has a pending fix) before I release again.

Thanks for the report!

[2017-03-22 19:31] #7 closed

[2017-03-22 22:02] kootenpv opened #10 "ipython support"
Does not appear to work in ipython (at least in emacs)

[2017-03-22 22:05] Qix- commented on #10
Hi - can you post exact errors so I know Im reproducing correctly?

Thanks!

[2017-03-22 22:47] kootenpv commented on #10
There's just no difference when I import it, it's not actually an error. Try running ipython and importing better_exceptions

[2017-03-22 22:55] Qix- commented on #10
Ah, iPython uses a different means to hook into exceptions...

I'll have to do a bit of research about this. iPython doesn't seem to want to install for me at the moment.

[2017-03-23 00:30] Qix- opened #11 "Line numbers are getting munged"
Not entirely sure how to reproduce this minimally, but with better_exceptions enabled:

[code]

and without them enabled:

[code]

[2017-03-23 00:43] Qix- commented on #8
@philer could you test the latest on `fix-colors`?

[2017-03-23 01:46] Qix- commented on #8
I tested personally in Windows. Other than the above bug, this is working for all terminals (not just xterm).

Any problems with the new detection method should go into a new ticket :)

Released as `0.1.4`.

[2017-03-23 01:46] #8 closed

[2017-03-23 01:46] Qix- commented on #7
Released as `0.1.4`.

[2017-03-23 09:24] paradoxxxzero commented on #11
Strange, the traceback module also seems to get lineno this way: https://github.com/python/cpython/blob/master/Lib/traceback.py#L306

[2017-03-23 09:26] paradoxxxzero commented on #11
In fact you get the frame f_lineno, what you surely want is the traceback tb_lineno.

[2017-03-23 11:17] pylipp commented on #8
Just some quick notes: In 0.1.4, `NOCOLOR` was replaced by `SUPPORTS_COLOR`.
@philer's method then transforms to

    import better_exceptions
    better_exceptions.SUPPORTS_COLOR = True

Alternatively, one can set the environment variable `FORCE_COLOR` to 1:

    export FORCE_COLOR=1

[2017-03-23 11:28] pylipp opened #15 "Multiple terminfo locations"
I'm on a Ubuntu 16.04 box. Automatic terminfo detection in the `color.py` module didn't work for me.
There are several `terminfo` directories in my root.

    find / -type d -name terminfo -print

returns

    /usr/share/terminfo
    /etc/terminfo
    /lib/terminfo

`/etc/terminfo` contains nothing but a `README` saying

Indeed, I found the relevant entry `/lib/terminfo/x/xterm-256color`. The dire

[2017-03-23 17:53] #15 closed

[2017-03-23 17:56] Qix- commented on #15
For my own future reference, I _did_ look up how ncurses does it. Turns out they have no standard place for the database either.

[2017-03-23 18:03] Qix- commented on #11
You'd think they'd be the same thing... I'll look into this. Thanks for the information @paradoxxxzero, as always!

[2017-03-23 18:32] Qix- commented on #11
Reproducible test case in 24b18886fc40fd507965ba62b4b5a24cf57d1ca3 by running `python test_bug.py`.

[2017-03-23 18:41] #11 closed

[2017-03-23 18:46] Qix- commented on #15
Released as `0.1.5`!

[2017-03-23 18:46] Qix- commented on #11
Fix released as `0.1.5`!

[2017-03-23 20:03] lincolnfrias commented on #10
+1 on this

[2017-03-23 20:45] philer commented on #8
@Qix- Yeah that works. Thanks for the fast fix!

[2017-03-23 22:35] RootLUG opened #17 "Not working when running via -c parameter"
It doesn't work if you run commands by directly passing it to python interpreter via -c cli flag.

Can be reproduced using:
`python -c "import better_exceptions; val=3; assert val > 10"`

[2017-03-23 23:59] Qix- commented on #17
What does it do instead?

[2017-03-24 01:17] Qix- commented on #17
For future reference - simple method hooking:

[code]

[2017-03-24 02:16] Qix- commented on #17
Alright, so this isn't possible without some _extreme_ hacks - hacks that I don't think should be supported since they would rely _solely_ on cpython's implementation internals.

I dove in _deep_ into the CPython source code, and the default interactive shell never drops into the Python context (i.e. everything happens in the C world). This means there is nothing I can hook into to really help us

[2017-03-24 02:39] Qix- commented on #17
Also, there is this problem:

[code]

Python just doesn't store enough information for me to really do much of anything here.

This module _does_ work, but only when the frames are for code loaded in via a file.

[2017-03-24 05:56] Qix- commented on #17
I lied. I'm going to implement this.

I haven't released it yet, but you can do `python -m better_exceptions` to drop into a REPL that properly supports code entered via the command line.

Further, I'm writing a way to get the code from the `-c` flag. It's not easy since Python isn't really helping us out here.

[2017-03-24 06:34] Qix- opened #18 "Colorized syntax tree messes up sometimes."
For example, the following code:

[code]

produces the following output:

<img width="309" alt="screen shot 2017-03-23 at 11 33 31 pm" src="https://cloud.githubusercontent.com/assets/885648/24283137/3cb2fcae-1021-11e7-8721-6d188a32eb6c.png">

[2017-03-24 06:47] #18 closed

[2017-03-24 07:41] Qix- commented on #17
Apologies for the comment spam; this is actually a _really hard_ feature, but there's headway!

Here's what the output looks like now:

<img width="580" alt="screen shot 2017-03-24 at 12 37 19 am" src="https://cloud.githubusercontent.com/assets/885648/24284789/49bc4ee2-102a-11e7-92f4-438fe51a1484.png">

Implementing this feature turned up a few bugs that have since been fixed and presented a reall

[2017-03-24 08:27] Qix- opened #19 "Manually generated exceptions in Python 3 on Linux don't have full frames"
Using Python 3 on Linux (Ubuntu) it the `try...except` block to generate a traceback manually is being triggered, which fails to get the proper stack information when testing the raw interactive mode handling.

[code]

I'm not sure what's different about how Python3 handles it since it works just fine in Python2 as well as just fine on Python3 on OSX.

Will investigate.

[2017-03-24 09:02] Qix- commented on #19
Definitely a bug with Python 3 on Linux. I've just removed that test for now and everything else works as expected.

Closing.

[2017-03-24 09:02] #19 closed

[2017-03-24 12:02] RootLUG commented on #17
Wow that was fast. Better Exceptions now rocks even more! Really good job

[2017-03-24 14:20] ulope opened #21 "Support logging"
Python's logging module has the ability to output tracebacks alongside log messages if inside an exception context ([`Logger.<level_method>(..., exc_info=True)`](https://docs.python.org/3.6/library/logging.html#logging.Logger.debug) and [`Logger.exception(...)`](https://docs.python.org/3.6/library/logging.html#logging.Logger.exception)).

It would be great if better exceptions could also inject it

[2017-03-24 15:42] Qix- commented on #21
Sure! I'll take a look later today.

[2017-03-24 16:14] im-n1 opened #22 "Add documentation for Django support to README"
Hi,

thank you for great lib.

However I had no luck to get it working under Django. I tried to put the import into `wsgi.py` or into specific file, where exception is thrown. No luck.

Any ideas?

[2017-03-24 16:54] vanadium23 commented on #22
@grafa have you try to put in settings.py?

[2017-03-24 21:43] jcrmatos opened #23 "ANSI does not show correctly"
Hello,

My env is Win7P x64 w/ SP1, Py 3.5.2 32b and colorama 0.3.7.

Possibly some misconfiguration of my cmd/system but all output from better_exceptions comes out like this

[code]

and this

[code]

However, on the same cmd console if I run a small colorama based game I created everything shows correctly (all the colors, brightness, etc.).

Any ideas?

Best regards,

JM

[2017-03-24 22:14] Qix- commented on #23
Let me look into this :)

[2017-03-24 23:45] Armored-Dragon commented on #23
I think this has to do with cmd. Maybe the encoding is messing up the escape sequence, or it needs to output slightly differently on windows?

[2017-03-25 09:06] jcrmatos commented on #23
Hello,

My cmd CP is 850.
Python's locale.getpreferredencoding() output is 'cp1252'.

If it helps, on my colorama game I use these (that work) to show color/brightness and change position:
from colorama import init, Style, Fore, Back
DOCK = Style.BRIGHT + Fore.YELLOW + '===' + Style.RESET_ALL
SEA = (Back.BLUE + ' ' * 51 + Back.RESET)
print(Style.BRIGHT + ''.join(items) + Style.DIM)  # show bright

[2017-03-26 01:05] the5fire commented on #22
Because Django had handled this. At: https://github.com/django/django/blob/master/django/core/handlers/exception.py#L88

[2017-03-26 08:42] grafa commented on #22
@vanadium23 no, haven't had an opportunity yet.
@the5fire so there is no way to plug in the lib into django?

[2017-03-26 16:19] Qix- commented on #22
What happens if you enable `settings.DEBUG_PROPAGATE_EXCEPTIONS`? I'm not sure how you do that (I've never used Django before) but that will raise the exception.

[2017-03-26 17:02] SylvainDe commented on #10
You may find some inspiration in the following projects working on exception hooks as well:
- https://github.com/danrobinson/tracestack/issues/3
- https://github.com/SylvainDe/DidYouMean-Python/issues/17

The trick is probably to call [set_custom_exc(exc_tuple, handler)](http://ipython.readthedocs.io/en/stable/api/generated/IPython.core.interactiveshell.html).

(By the way, awesome project!)

[2017-03-27 04:51] Qix- opened #24 "Add production switch"
A few people now have pointed out it'd be neat to have a production switch.

While I personally would remove the `import` statement manually and only use this in debugging, it might be nice to have a production switch as well.

[2017-03-27 07:02] the5fire commented on #22
@grafa  Yes.

When we run django use command: runserver, It was based on Python built-in modules:wsgiref,
Even we set `settings.DEBUG_PROPAGATE_EXCEPTIONS` config. The `wsgiref` will handle error.

If you want to get more detail of django exception, I think you can take a look at raven-python.

[2017-03-27 20:48] RootLUG opened #25 "Add support for doc strings in functions"
It might be helpful to have an option to enable showing doc string in traceback if the function has it defined in `__doc__` attribute near the traceback explanation section to make it even more awesome

[2017-03-27 22:11] Qix- commented on #25
Sure, should be do-able. I'll see how it looks.

[2017-03-28 08:35] the5fire commented on #22
@grafa U can do some tricky like raven-python: https://docs.sentry.io/clients/python/integrations/django/#integration-with-logging

[code]

combine logging handler with better-exceptions.

[2017-03-28 08:39] Qix- commented on #22
@the5fire would #21 help this, then?

[2017-03-28 11:10] readylan opened #26 "import error"
While working with virtualenv, I get this error:

[code]

[2017-03-28 19:49] Qix- commented on #26
This is strange. On the command line, `__builtins__.keys()` errors. With the code, it appears to work fine.

Let me take a look.

[2017-03-28 19:56] #26 closed

[2017-03-28 19:56] Qix- commented on #26
Can you test using the latest master?

[2017-03-28 20:01] Qix- commented on #24
Looking at this again, what constitutes a production flag? `'PRODUCTION' in os.environ`?

[2017-03-28 20:05] Qix- commented on #23
Hi - can you try the branch `fix-windows-encoding`?

[2017-03-28 20:09] jcrmatos commented on #23
Hello,

I would, but I never used Git.
Is there any way to test without using Git? Can you create a package for
me to install on Python?

Best regards,

JM

On 28-03-2017 21:05, Josh wrote:

[2017-03-28 21:08] Qix- commented on #23
@jcrmatos try

[code]

[2017-03-28 21:13] #21 closed

[2017-03-28 21:13] Qix- commented on #21
Can you test the latest master? :)

[2017-03-28 21:34] Qix- commented on #25
Could you try with the following?

[code]

[2017-03-28 21:47] Qix- opened #27 "Command line not being read on Windows"
On POSIX systems we can (ab)use `ps` to find the command line arguments that were used when calling the process.

However on windows, we're going to have to use `ctypes` and call [`CommandLineToArgvW`](https://msdn.microsoft.com/en-us/library/windows/desktop/bb776391(v=vs.85).aspx).

There is a placeholder conditional for windows in there right now, but it currently doesn't do anything. This makes

[2017-03-28 21:47] Qix- commented on #17
Closing; for windows support, please see #27.

[2017-03-28 21:47] #17 closed

[2017-03-29 07:44] nilleb commented on #21
Doesn't work for me.
1. isatty (in colors.py) can throw OSError (on some exotic environments like GAE)
2. more to come (the format_exception is not being called, I still don't know why. I am using a custom logging.Formatter, this is possibly the reason for which it doesn't work)

[2017-03-29 08:57] readylan commented on #26
Yes, tested v. 0.1.6 and running. Thanks !

[2017-03-29 09:53] jcrmatos commented on #23
Hello,

It uninstalled version 0.1.6 and installed your tgz file.
when I run the following script
[code]

it returns these errors
[code]

Best regards,

JM

[2017-03-29 15:24] Qix- commented on #23
Alright I'll get to fixing this later today. I'm going to need to fix how ANSI codes are built up.

Thanks for bringing this to my attention :)

[2017-03-29 15:29] Qix- commented on #21
1. Good to know, I didn't realize it would throw on certain platforms. I'll fix that.
2. Right, custom formatters will need to handle it and call `format_exception` themselves. The only logger formatter that I override is the _default_ `StreamHandler`'s formatter on Python 2.7 and `_StderrHandler` on Python 3.x. I didn't want to be too intrusive seeing as how I didn't want to change how existing p

[2017-03-29 15:30] Qix- opened #28 "os.isatty() can throw an OSError on certain platforms"
According to #21, `os.isatty()` can throw an `OSError` on certain platforms. This needs to be fixed.

[2017-03-30 03:20] the5fire commented on #22
👍
Yes, I think this is what  @grafa  want.

[2017-03-30 17:48] RootLUG commented on #25
I tried it by passing a function as an argument to other function (which case exception as it accept only string) where both functions have docstring defined:

[code]

It displayed it without the dosctring even if the same test script I can access the docstring by using print(func1.__doc__)
Here's the snippet I used:

[code]

I also noticed when I use functions/variables like `someproject.Domain.g

[2017-03-30 17:57] RootLUG commented on #25
I just tested that a localy defined function works well if it's not imported from other module

The docstring might need to be re-intended if it's multiline as it's lightly off like this, but that's just a small cosmetic issue:

[code]

[2017-03-30 18:58] Qix- commented on #25
Oh I forgot to strip, thanks for reminding me.

Strange about imported members. I'll investigate!

[2017-03-31 00:50] jcrmatos commented on #27
Hello,

I run Python 3.5.2 32b on Windows 7P SP1 x64.
Can I help with the testing?

Best regards,

JM

[2017-03-31 22:46] Omnifarious opened #29 "An ipython startup file to enable better_exceptions in ipython"
If you put this in `$HOME/.ipython/profile_default/startup/00-better_exceptions.py` this will enable better_exceptions to be used as the default exception formatter in ipython. Maybe this should go in a `contrib` folder or something like that.

[code]

[2017-03-31 23:03] #29 closed

[2017-03-31 23:03] Omnifarious commented on #10
If you put this in `$HOME/.ipython/profile_default/startup/00-better_exceptions.py` this will enable better_exceptions to be used as the default exception formatter in ipython. Maybe this should go in a `contrib` folder or something like that.

[code]

[2017-04-01 09:15] ramast commented on #10
doesnt work with python3

[code]

[2017-04-08 17:54] jldiaz opened #31 "Can this be used in testing?"
I imported `better_exceptions` into my test, and ran it (both with `nosetests` and "plain" `python`). When the code being tested produces an exception, the standard trace is printed. I guess that testing frameworks are capturing the exceptions somehow.  Would it be possible to tweak something so that better_exceptions is used to report the exceptions?

[2017-04-09 01:16] Qix- commented on #31
If plain python isn't catching the exception then there's something affecting it.

How are you reporting exceptions in this code?

[2017-04-10 19:32] RootLUG commented on #25
Small update, I noticed that for normally installed modules the docstring in traceback is correctly shown. My module which has docstrings but are not shown in traceback is installed via setup.py using the develop option. That might be related to the issue but I haven't been able to confirm

[2017-04-10 20:25] dserodio commented on #24
From a security perspective, it'd be better to explicitly enable better-exceptions then explicitly disable (which is what a "production switch" would do.

[2017-04-10 20:40] Qix- commented on #24
@dserodio While I agree, that would make an extra step for anyone wanting to use `better-exceptions`.

It might be better to leave a production switch out and just keep `better-exceptions` out of your `setup.py` dependencies so if debug code accidentally gets pushed the build will fail (since `better_exceptions` won't be import-able).

[2017-04-10 20:41] Qix- commented on #25
@RootLUG Could you explain what you mean? What's the develop option? (I'm not completely well versed in setup.py affairs).

[2017-04-11 16:35] RootLUG commented on #25
Sure, normally the python package is installed by setup.py install, by using this python copies the package into it's site-packages directory. That's a little bit pitty if you want to do some modifications to the package (e.g. you are a developer), then you need to reinstall it each time to reflect the changes. Hence the option 'develop' for setup.py which will install the package by creating a cr

[2017-04-11 18:12] Qix- commented on #25
Interesting, I see.

I know this might be a lot to ask but could you post some code and a setup.py that could reproduce this?

[2017-05-17 10:31] frol opened #37 "Better Exceptions hangs Dask Distributed execution on exception"
Here is the reproduction:

[code]

If I run this code with `import better_exceptions` commented out, I can see the AssertionError traceback and the program exits:

[code]

However, once I have `import better_exception`, the output is blank and the program just hangs forever.

[2017-05-18 12:01] skorokithakis opened #38 "Merge with TBVaccine?"
Hello, I'm the author of [tbvaccine](https://github.com/skorokithakis/tbvaccine/), which is very similar in functionality. I just discovered this library, and quite like how variables are presented (tbvaccine prints all the locals in the frame).

Would you consider merging the two, or implementing some features so tbvaccine is superseded? Mainly, the features are highlighting the parts of the trac

[2017-05-18 18:47] Qix- commented on #38
I'd be interested in seeing what the exception looked like when the irrelevant bits are dimmed instead - however I'm not sure what TVVaccine does that's much different from this module :o

I can definitely make the filenames bold, however.

[2017-06-01 04:47] frol commented on #37
@Qix- Any ideas? I have just noticed TBVaccine project and its hook works well with Dask Distributed...

@skorokithakis Thank you for mentioning TBVaccine! It works great for me where better-exceptions just breaks things.

[2017-06-01 05:01] frol commented on #38
Just my 2 cents, I like TBVaccine's way of registering a global hook explicitly with `add_hook` (I understand that it is one extra line in the usage, but I still like the explicit and configurable way better)

[2017-06-01 06:11] Qix- commented on #37
Might be an endless loop while formatting. I'm going to be pretty busy the next few weeks but will try to take a look for you.

Thank you for the repro case, that's super helpful :)

[2017-06-07 07:41] anntzer commented on #24
You could provide a pth file (similarly to better_exceptions_hook) with something like
[code]
which would remove the need for adding an import statement, remove the need for better_exceptions_hook, and be much easier to switch on or off.

[2017-08-03 04:28] ethanhs commented on #23
With Windows 10 Anniversary update and above, you can
[code]
(-11 is the standard out constant, 7 is the new ansi color support)

I put this in my better-exceptions hook, made my console cp65001 by default, and modified `__init__.py` as such
[code]
And voila!
![](https://cdn.discordapp.com/attachments/289585903771451392/342522250693574676/unknown.png)

[2017-09-03 15:19] Delgan opened #40 "Add a way to use library functions without automatic hook"
Hello.

You had a very good idea with `better-exceptions`, I love it!

However, I would like to be able to use some functions of the library (like `format_exception()`) without triggering the side effects related to the import.

I thought of a way to solve this problem by publishing two packages instead of a single one (so the user can do something like `import better_exceptions_functions`). I'm p

[2017-09-05 10:21] Delgan opened #44 "Travis builds do not tests ascii encoding"
See for example: [Job #30.5](https://travis-ci.org/Qix-/better-exceptions/jobs/231450051)

We can see a warning in the logs:

[code]

So I guess it is still testing with default UTF-8.

I do not know how to fix that unfortunately.

[2017-09-05 17:31] Delgan commented on #37
@frol Hi!

I wanted to work on this issue but unfortunately I can not reproduce the error.
Are you still able to reproduce it?

If so, some information about your configuration may be usefull: distribution, libraries versions (run `pip freeze`), python version (run `python --version`).

I have studied the source code a bit and I do not see where there could be an infinite loop.

Sometimes your sni

[2017-09-05 18:05] frol commented on #37
@Delgan Either `dask` or `distributed` has changed something so it works fine now with the latest versions of those. Downgrading `pip install dask==0.14.3 distributed==1.16.1` makes the issue reproducible.

[2017-09-05 21:41] Delgan commented on #37
@frol Indeed, I can reproduce the error now, thank you!

[2017-09-06 18:17] Delgan commented on #37
So, `better_exceptions` is hanging [here](https://github.com/Qix-/better-exceptions/blob/0.1.8/better_exceptions/__init__.py#L154).

Prepend the `format_value` function with:

[code]

And then...
![1504718117-screenshot](https://user-images.githubusercontent.com/4193924/30125175-dcd36a0e-9337-11e7-8789-3536ece6de50.png)

Strangely, it is not possible to display the method.

My traceback is slightl

[2017-09-10 20:25] #28 closed

[2017-09-11 07:59] #23 closed

[2017-09-13 07:10] Delgan commented on #40
Fixed by #41.

[2017-09-13 07:10] #40 closed

[2017-09-13 07:15] Qix- commented on #38
The case against it @frol is that this kind of hack to help you debug shouldn't necessarily be application specific. It should be applicable to any python script that temporarily wants to show debug information for convoluted stack traces.

Encouraging users to include the hook in their scripts only encourages security and privacy vectors to be created. I'm actually glad @paradoxxxzero created his

[2017-09-13 07:26] Delgan commented on #38
@Qix- We can also do `import better_exceptions.auto` for an automatic hook, and those who prefer to add it manually can do `import better_exceptions; better_exceptions.add_hook()`.

With the commit I just merged, they could also do `import better_exceptions_core; better_exceptions_core.add_hook()`.

Personally, I find the `import better_exceptions.auto` much more elegant, the problem is that it br

[2017-09-13 10:44] Delgan opened #47 "List of small errors to fix and possible improvements to implement"
I prefer to gather everything here rather than opening a ticket for each of them, as some bugs are really minimal. Some points are just ideas I have had.

- [ ] Nested issues are not displayed ([see](https://user-images.githubusercontent.com/4193924/30371213-235874f0-987a-11e7-9f5f-1aee15e2f603.png))
- [ ] Surround `repr(value)` with` try / except` just in case something goes wrong (see [`tracebac

[2017-09-14 18:17] Delgan commented on #38
So, I guess we can merge the @paradoxxxzero's automatic hook using the @anntzer solution: https://github.com/qix-/better-exceptions/issues/24#issuecomment-306714896

That way, `better_exceptions` can work without any import (which makes sense as one usually want enhanced exceptions everywhere).

Moreover, a better control can be achieved as requested by @frol by setting the `BETTER_EXCEPTIONS` env

[2017-09-14 20:26] Qix- commented on #38
Great questions.

To me, `better_exceptions` should never touch code. After writing it enough, I feel like it'll be misused or (worse) used in a library, making unexpected side effects for consumers of that library.

I've had a disclaimer in there before that it should _only_ be used in debugging/local/dev/staging environments, as there is no way to filter out sensitive information from the traces

[2017-09-16 13:50] Qix- commented on #31
Closing due to lack of information.

[2017-09-16 13:50] #31 closed

[2017-09-16 13:51] Qix- commented on #24
Closing since #48 basically implements what @anntzer is requesting and due to the fact that you _shouldn't_ be using this module in production at all :)

[2017-09-16 13:51] #24 closed

[2017-09-19 15:19] Delgan commented on #47
Hi @Qix-. I remember reading on Reddit that you wanted to avoid any dependency on another library. Is it still a goal?

I ask that because I see two libraries that might be useful.

**[Pygments](http://pygments.org/) for syntax highlighting of source lines.**
Using it would simplify the code by removing all parts related to the AST. This fixes the bugs related to UTF-8 slicing and quotation marks,

[2017-09-19 15:24] Qix- commented on #47
Nah both of them are completely bloated and huge, and `ansimarkup` is absolutely the wrong way to do ANSI escapes IMO.

So yes, no-dependencies is absolutely a goal here :)

[2017-09-19 16:03] Delgan commented on #47
@Qix- Fine, I understand. 👍

I do not want to abuse your time but I'm a little curious to know your point of view: why do you think that `ansimarkup` is not a good way to manage ANSI codes?

[2017-09-19 16:21] Qix- commented on #47
@Delgan It's just convoluted and bloated IMO. Having dealt with ANSI escapes a lot over at Chalk, the last thing I'd want to introduce into my text rendering was HTML or XML-like tags.

ANSI escapes aren't always closures, either - there are better ways to transition to a new type than to saturate the output with a bunch of close/open codes. For example, you can switch directly from one color to a

[2017-09-19 17:03] Delgan commented on #47
Thank you for the explanation. ;)

I thought it was the easiest way to deal with ANSI codes, but I now realize that it's not very clean to mix the markup directly with the string.

[2017-09-19 19:07] Qix- commented on #47
Yeah absolutely :) I think the current highlighter implementation is more than enough. I battled with whether or not I wanted to add it at all but got drunk and did it anyway.

[2017-09-19 19:44] Delgan commented on #47
Haha. I find the syntax highlighting rather welcome and enjoyable. 👍

I thought it could easily be extended, but it appears that this is not the case.
Indeed, it is better to leave it as such, it's not worth the trouble.

[2017-09-29 23:39] sentientmachine opened #49 "Indentation errors stop better-exceptions from returning correct errors."
I'm using gentoo Linux x86_64 on a PC desktop.

Using `Python 2.7.10`

Using better-exceptions version `0.1.8`

I installed as non root user: `pip install -U better_exceptions`

Put this in a file:

    import better_exceptions
    if (True):
        a = 5
           print("foobar")      #intentional faulty indentation here.
        b = 7

It works as I expect, the better_exception defaults to nor

[2017-10-07 18:28] Delgan commented on #49
Hey @sentientmachine, thank you for reporting this. 👍

Just to let you know: this a known bug due to a small mistake while formatting, see https://github.com/Qix-/better-exceptions/pull/35.

[2017-10-07 19:08] sentientmachine commented on #49
Wow that worked.  I applied the fix as above and now the error message is:

[code]

[2017-10-07 20:19] Delgan commented on #49
Well, I guess it was not merged because it did not pass the travis tests. And it did not pass the travis tests because of a `\n` remaining at the end of the string, as `.strip()` is not called.
#35 is now conflicting with master, but I was thinking of fixing it for an upcoming release.

[2017-10-10 06:33] alexfalcucc opened #50 "Pyramid support"
any possiblity to add this feature?

[2017-10-12 21:00] Qix- commented on #50
What is Pyramid? Some more information would be helpful :)

[2017-10-13 00:50] alexfalcucc commented on #50
Pyramid is a web framework: https://github.com/Pylons/pyramid

But, never mind, i'll close this issue once that it must be implemented in the waitress lib pyramid's dependency.

thank you

[2017-10-13 00:50] #50 closed

[2017-10-19 00:18] sentientmachine opened #51 "Options for colorizing the output."
I just wanted to show you what I did and get you opinion on an enhancement.  See https://github.com/sentientmachine/better-exceptions/blob/master/README.md

I like it when the line numbers pop out so it draws my eye, so I did that in the link above.

Enhancement suggestion: these python errors/warnings are all well documented and well known.  What if better-exceptions had a feature that would read

[2017-10-19 10:12] Delgan commented on #49
Fixed with #48. :)

[2017-10-19 10:12] #49 closed

[2017-10-19 11:03] Delgan commented on #51
Colorization of file / line / function would be great in my opinion. This seems related to what was proposed in #32 about implementing [tbvaccine](https://github.com/skorokithakis/tbvaccine/)'s enhancements.
The complications arise from the fact that to color the stacktrace like this, it must be parsed once it has been formatted using `traceback.format_list()`. I avoid you technical details, but f

[2017-10-19 13:07] sentientmachine commented on #51
Wow that is really cool I want that ability to highlight the lines relevant to the currently edited file but not the other meaningless noise above and below.  I scanned tbvaccine's code and I didn't see how he does that jump out.  Is he doing some kind of manual parsing to ask if the file mentioned in the traceback is in the list of files the user intends to edit, then highlight those?

[2017-10-19 13:19] Delgan commented on #51
Yes, this is what is done [here](https://github.com/skorokithakis/tbvaccine/blob/70e4aab53c81e00339491ce8ebd9e543b6349640/tbvaccine/tbv.py#L105).
It iterates through the lines of the formatted exception, if the line matches the file regex, it extracts the filename and checks heuristically if it belongs to the user or not.

[2018-01-12 18:05] vmarkovtsev opened #52 "better_exceptions_hook.pth is missing from the package"
Here is what I do on Ubuntu with python 3.5:

[code]

So the hook does not work. The file which README mentions, `better_exceptions_hook.pth`, does not exist. I have manually copied it from GitHub to `/usr/local/lib/python3.5/dist-packages/better_exceptions_hook.pth` and got this bizarre error:

[code]

[2018-01-12 19:02] leemengtaiwan commented on #52
Facing exactly the same problem here.
I'm using `python:3.6.4` on MAC.

[2018-01-13 03:24] Delgan commented on #52
Hey @vmarkovtsev and @leemengtaiwan.

The problem is that the README you are looking at does not correspond to the pip version you installed. This file (and the rest of the code) has been changed in recent months, but the version you downloaded via pip has not been updated to reflect these changes. There have been 10 commits since version 0.1.8 which are public on the master branch but have not be

[2018-01-15 12:54] Nosterx commented on #10
example by @Omnifarious rewritten for IPython with python3
put in `$HOME/.ipython/profile_default/startup/00-better_exceptions.py`
`import better_exceptions, sys

ip = get_ipython()
old_show_tb = ip.showtraceback

def exception_thunk(exc_tuple=None, filename=None,
                    tb_offset=None, exception_only=False):
    new_exc_tuple = exc_tuple or sys.exc_info()
    if not isinstance(new_ex

[2018-01-16 15:42] ramast commented on #10
Re-writing the example above to work with IPython 3.2.1 and also to handle the case where better_exceptions_module is not present in the system

[code]

I've added `**kwargs` because IPython gave that error
`TypeError: exception_thunk() got an unexpected keyword argument 'running_compiled_code'`

[2018-01-16 17:40] kootenpv commented on #10
And now to make it work with `pdb` mode ;)

[2018-01-16 18:58] Qix- commented on #10
@kootenpv It already does.

[code]

<img width="246" alt="image" src="https://user-images.githubusercontent.com/885648/35006749-ab39e806-faf7-11e7-8a2a-74324a5c6f53.png">

[2018-01-25 11:09] Qix- commented on #52
I released `0.2.1` that should have included this. Sorry for the delay here 🙏

Preemptively closing. Let me know if upgrading worked!

Thanks again to @Delgan for all of the hard work!

[2018-01-25 11:09] #52 closed

[2018-01-30 03:59] dcl-lily opened #53 "Display coding problem"
Code：
# -*- coding:utf-8 -*-
import better_exceptions
import sys
print(sys.stdout.encoding)
better_exceptions.hook()

foo = 52

def shallow(a, b):
    deep(a + b)

def deep(val):
    global foo
    assert val > 10 and foo == 60

bar = foo - 50
shallow(bar, 15)
shallow(bar, 2)

display:
"C:\Program Files\Python36\python.exe" C:/Users/Alex/PycharmProjects/Test/Test02.py
UTF-8
Traceback (most recent

[2018-01-30 20:55] Delgan commented on #53
Hi @dcl-lily

The errors are written to the `stderr`, could you please tell us the value of `sys.stderr.encoding`?

Also, what is the output of the `chcp` command on your Windows terminal?

[2018-01-31 03:01] dcl-lily commented on #53
hi
sys.stderr.encoding  value UTF-8

PS C:\Users\Alex> chcp
活动代码页: 936
PS C:\Users\Alex> python -m better_exceptions
Python 3.6.4 (v3.6.4:d48eceb, Dec 19 2017, 06:54:40) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.
(BetterExceptionsConsole)

Traceback (most recent call last):
  File "<console>", line 1, in <module>
    c = a + b

[2018-01-31 22:36] Delgan commented on #53
@dcl-lily Thanks for the output.

I am afraid I do not know what is causing the problem.
This looks like an issue with the Windows 10 terminal, but I am not able to reproduce it.

Some investigations idea I found on Google:
* Run `python test.py > file.txt` and check with a text editor that `file.txt` is correct
* [Change the font](https://user-images.githubusercontent.com/4193924/35651302-870c12e

[2018-02-03 14:38] dcl-lily commented on #53
hi
 used python 3.5 display OK, in version 3.6 to  Change the system configuration but  not be able to display normally

[2018-03-13 12:49] sonack opened #54 "navigating keys are shown as control characters when in better-exceptions python3 REPL on ubuntu"
OS: ubuntu 16.04 LTS
Interpreter: Python 3.6.2 :: Anaconda, Inc.
terminal: gnome 3.18.3 (I think it will helps)
Symptom:  Just like the vim-minimal when I just installed my os, the up, down , left and right arrow navigating keys are not work as I expected, they will only print  `^[[A`  .... `^[[D` on the REPL.

[2018-03-20 05:03] Qix- commented on #54
Does the same happen with the regular REPL?

Further, do you have a [`.pythonrc`](https://stackoverflow.com/a/246779) script set up?

[2018-03-20 05:14] sonack commented on #54
@Qix-   This doesn't happened to the regular REPL, I don't find anything like a `.pythonrc` script.

[2018-04-10 15:33] stevanmilic commented on #22
Are there any ideas how this can be used with Django out of the box?

[2018-05-10 08:40] chen19901225 commented on #53
I get the same problem
env: windows7
python: python3.7
`chcp`: "活动代码页: 936"
"sys.stderr.encoding": "utf-8",
"locale.getpreferredencoding() ": "cp936",
So the problem seem this
file "better_exception/encoding.py" line 10
`ENCODING = locale.getpreferredencoding()`,
So I replace with
`ENCODING = sys.getdefaultencoding()`
and it  works
hope it works for you too

[2018-05-19 05:01] dcl-lily commented on #53
@chen19901225 think，is good

[2018-05-22 11:43] chen19901225 opened #55 "not work with tornado"
# env:
"sys": "win10",
"python: "python3.6.5",
"tornado": "5.0.2",
"better-excpetions": "0.2.1"
# demo
[code]

# outuput
[code]

[2018-05-23 22:47] Delgan commented on #55
Thanks for reporting this bug and for the code sample!

You can fix this by adding `better_exceptions.patch_logging()` at the top of your `main()` or ` ping()` function. :wink:

Technical explanation follows.

----------

So, `tornado` reports exceptions through the `logging` system. `better_exceptions` does patch the loggers to format the errors on the fly, it does so by modifying existing handle

[2018-05-24 09:09] chen19901225 commented on #55
@Delgan  thanks

[2018-05-27 22:27] stuaxo opened #56 "Enable better exceptions in my app ?"
Hi,
   Is there an API I can call to enable better exceptions in my app.
It's for Shoebot, where we basically exec python code to make graphics, we already have an home grown exception formatter thingy, but better exceptions looks better to me.

Cheers
S

[2018-05-27 22:41] Delgan commented on #56
Hi @stuaxo

I think you could use the `better_exceptions.format_exception()` function.

[code]
Output:
[code]

Does it suit your needs?

[2018-05-28 09:39] stuaxo commented on #56
Thanks, that's perfect.

[2018-05-28 09:39] #56 closed

[2018-06-12 00:08] #55 closed

[2018-06-12 00:09] Qix- commented on #53
@Delgan can you investigate whether or not https://github.com/Qix-/better-exceptions/issues/53#issuecomment-387991544 is a proper solution or a hack? We might need to change it.

[2018-06-12 20:25] Delgan commented on #53
@Qix- Sure, I will take a look this week-end. ;)

[2018-06-17 17:02] Delgan commented on #53
Hey @chen19901225 and @dcl-lily

We would like to merge your fix "upstream", so you can enjoy future releases of `better_exceptions` without having to maintain your own local copy of the modified library.

As I'm still not able to reproduce the issue, would you please help me by answering a few questions about your configuration?

* What font and size are used in the properties of your Windows ter

[2018-08-06 13:40] gergelyk opened #57 "Support of exceptions raised in context of the others"
When following code is used:
`raise Exception('foo') from another_exception`

better_exception shows only the last exception. It would be beneficial if it could show `another_exception` too. This can be implemented by looking at `__context__` and `__suppress_context__` attributes of the exception. For example:
https://hastebin.com/doyozafeji.py

[2018-08-06 13:43] gergelyk opened #58 "format_exception compatibility"
One may expect better_exceptions.format_exception and traceback.format_exception to be compatible. The difference is though that the first one returns list while the former one returns string. I would suggest to consider aligning behavior of these methods.

[2018-08-31 12:26] ArneBachmann commented on #25
I think what @RootLUG  might mean is something like `pip install -e .` which only creates a link to the current directory in the Python distribution instead of copying all built files there (a.k.a. editable install). RIght?

[2018-09-09 11:01] RootLUG commented on #25
Hello, sorry for a long delay, I kind of forgotten about it.
I think the issue as originally reported was for a package that was installed via command `python setup.py develop` so it was an editable local egg, should be the same as `pip install -e` @ArneBachmann . I no longer have the original source code around for which I reported the issue but I can give it a try for some other projects which I

[2018-10-16 15:13] cipri-tom commented on #57
yes, this would be very useful! I was bitten by this recently and couldn't figure out why it was happening

[2018-10-16 18:06] Delgan commented on #57
Yeah, I have implemented this in my fork, hopefully I will find some time to merge it upstream in the next few months...

[2018-12-09 14:33] imansh77 opened #60 "improper place of import"
https://github.com/Qix-/better-exceptions/blob/0b135829734ccb12401276defa66d0882be0b93f/better_exceptions/log.py#L9
is there a solid reason to use import after function?!

[2018-12-09 15:06] Delgan commented on #60
Yeah, "lazy import" (inside a function) is a technique to reduce overall import time of a library. You don't pay for `import logging` if you don't use `patch()`. But in this case, this can't work as `Logger` and `StreamHandler` are imported from `logging` at module level anyway.

I don't know what @Qix- had in mind while writing this, does it cause you some issue?

[2018-12-09 17:14] Qix- commented on #60
I don't know what `StreamHandler` is so someone must have added that line later on.

Also, `from X import Y` doesn't bring `X` into scope, whereas `import X` does. So simply removing `import logging` would actually break the program.

But @Delgan's explanation is 100% correct :)

[2018-12-09 17:14] #60 closed

[2018-12-12 11:59] stuaxo opened #61 "Hyperlinks"
It would be great if the better exceptions could output file:/// hyperlinks using the new ansi standard.

I'm not quite sure which bit of the output should be the link.

Unfortunately AFAICT line numbers aren't supported, but just being able to click from somewhere in the exception and open the file would be a big plus.

https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda

[2018-12-12 12:01] stuaxo commented on #51
OT:

That's really good, I've been wanting something that distinguishes visually between the users code and the systems code for a while.

[2018-12-12 12:50] Qix- commented on #61
The problem is that detecting those terminals is very hard. This would break a lot of people, unfortunately.

[2018-12-12 12:51] Qix- commented on #51
If this can be implemented elegantly then I'm all for it. :)

[2018-12-12 13:36] stuaxo commented on #61
I'd be happy setting an environment variable or config option to enable it.

It's semi-useful being able to open files by right-clicking after ```ls --hyperlink``` opening files from tracebooks would be very useful.

[2018-12-12 22:48] Delgan commented on #51
Well, the obvious way is to use a regex substitution on the formatted stacktrace. That's not very elegant. But I can't see any other solution.

[2018-12-13 01:01] alichtman commented on #51
This would be really helpful.

[2018-12-15 14:36] stuaxo commented on #51
Is tbvacine a completely different project, or a fork of this, at first I was having trouble working out how the code relates, but I guess it's to show a possible implementation ?

finding the file, line and function probably wants to be separate from the actual colouring - to make all sorts of things easier (e.g. different colour themes, or adding links to files).

Irrespective of *how* colouriza

[2019-01-13 13:03] Delgan opened #67 "Drop support for Python 2.7?"
Hello @Qix-.

So, to explain you the problem I'm facing: I have implemented a few fixes for some edge cases, but I'm not sure how to handle it properly for Python 2.7.

These fixes implies working with strings formatting and encoding, which is a pain to deal with in Python 2.

Considering that official Python 2 support is ending in less than one year, what are your thoughts on tagging `better_exce

[2019-01-13 15:50] Qix- commented on #67
Didn't think it would ever happen.

https://python3statement.org

Yes, I think this is a good idea. I'd go so far as making v1 python 3 only.

[2019-01-13 20:06] Delgan commented on #67
@Qix- Glad to hear that. ❤️

How do you want to handle the transition?

For now I created a new [`python3_only`](https://github.com/Qix-/better-exceptions/tree/python3_only) branch on top of which I will open pull requests for my fixes. Except if you prefer this to be managed by `master` directly.

[2019-01-14 14:11] Unviray opened #68 "Don't work on termux"
Python version: 3.7.2
better_exceptions: 0.2.2
[code]

[2019-01-14 14:12] Qix- commented on #68
The prompt tells you exactly why it's not working...

[2019-01-14 14:13] Unviray commented on #68
Yes, but the exception is not better 😁.

[2019-01-14 14:17] #68 closed

[2019-01-14 14:17] Qix- commented on #68
I can't help you any further from what the terminal tells you...

[2019-01-14 14:24] Qix- commented on #51
Entirely different, no relation.

If we're talking about the image OP provided (were elements of the traceback are very clearly distinguished), I would imagine somewhere near the existing color support. If you want to formalize how the coloring system works, then go for it. A lot of the existing logic is kind of hairy since some of it has been copied from the internals, and the original implementa

[2019-01-14 14:31] Qix- commented on #54
Sorry for the delay in response. I don't assume you're still playing around with this almost a year later, but the problem here is that `readline` isn't being intialized in your REPL. Setting up a proper [`.pythonrc`](https://github.com/whiteinge/dotfiles/blob/master/.pythonrc.py) is important for this (search in-page for `readline` and copy all relevant parts).

I'm not sure how much we can do to

[2019-01-14 14:31] #54 closed

[2019-01-14 14:32] Qix- commented on #47
Yeah, looking at this a year and a half later, unfortunately the highlighter right now is as feature-full as possible without adding a custom Python parser (the built-in parsing system isn't good enough to get definitive results beyond what is already there).

[2019-01-14 14:33] Qix- commented on #47
@Delgan how many of these are still issues in _only_ python 3? I know that a lot of the encoding issues go away in python 3.

[2019-01-14 14:36] Qix- commented on #38
This is effectively a duplicate of #51 - sorry for the lapse in action here, @skorokithakis.

I plan on getting #51 out the door at some point, so if that's all that is necessary to succeed tbvaccine then I'm :+1: on this. :) @Delgan has been a massive help in maintaining this module and I don't see it dying any time soon. We just signed the python 3 initiative w.r.t. dropping support for python 2

[2019-01-14 14:37] Qix- commented on #44
I think we should move to Docker + CircleCI for testing. I can do this sometime in the coming weeks - it's fairly straightforward and gives us more control on a more stable platform (I have pretty much completely given up on Travis anymore).

[2019-01-14 14:39] Qix- commented on #37
I hold pretty firm with the idea that performing any I/O in `__str__` or `__repr__` is an anti-pattern and definitely not a use-case we should bend over backwards for.

Sounds like it got resolved in a successive release - going to close. Let me know if this is still a problem for anyone.

[2019-01-14 14:39] #37 closed

[2019-01-14 15:01] skorokithakis commented on #38
No problem, @Qix-. In the mean time, TBVaccine got stack variable printing and various other features which enhanced it, so I think it's currently on par or better than `better-exceptions`, making this issue a bit moot. We could still merge, just to avoid having two libraries that do the same thing, but it's not that urgent (and I don't know if it makes much sense given the different codebases).

[2019-01-14 15:13] Qix- commented on #38
No problem, we'll go ahead and close this then :) Users can decide.

Thanks again for reaching out @skorokithakis 😃

[2019-01-14 15:13] #38 closed

[2019-01-14 15:14] skorokithakis commented on #38
Thank you!

[2019-01-14 18:58] Delgan commented on #58
@Qix- This was actually fixed a few days ago by #64

I slightly refactored `better_exceptions.format_traceback()` so that it returns a list of strings, as do `traceback.format_traceback()`.

[2019-01-14 20:03] Delgan commented on #44
@Qix- I suppose once one is used to Docker + CircleCI, it become as easy as setup than Travis.

Two things to add:
* Actually, current Travis CI **do** test both ascii and utf8 encodings, contrary to what I what I feared when opening this issue. There is a warning message though, but I guess it resets or deletes the locales, resulting with Python using the default `ascii` encoding as wished.
* The

[2019-01-14 20:41] Delgan commented on #47
@Qix- I ticked the fixed issues. Actually, there isn't many "Python 3 only" bugs.

Some of the encoding issues I listed are in fact no so much related to encoding. I discovered this was because of the way the highlighter formatted strings.

Looking at this one year and a half later, I couldn't agree more that wanting to add dependencies just for fixing that was foolish. 🙂

I managed to fixes sever

[2019-01-14 21:10] Delgan commented on #57
@Qix- This one can be closed too, as this is fixed by #63 😄

[2019-01-15 08:42] #57 closed

[2019-01-15 08:44] Qix- commented on #47
You can submit the PR and have it work only with python 3 since we're deprecating 2. It's not a critical feature enough to bend over backwards to make it work on 2.

[2019-01-18 20:46] gergelyk opened #71 "Attribute inspection"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/Qix-/better-exceptions/issues/71)

Hi. This is not an issue. Rather an improvement proposal. I thought that it may be useful if better_exceptions could show values of attributes accessed by period operator.

For instance, instead of:

[code]

we would get:

[code]

--

[2019-01-18 23:32] Qix- commented on #71
Interesting. I worry about the side effects of property access, however - since it's not just a lookup but potentially a function call, which means we'd also have to check for true property access beforehand.

But yeah, I think this could be done safely.

[2019-01-20 14:58] gergelyk commented on #71
Good point.

Potential site effects of __getattr__ could be eliminated if we inspect only attributes from __dict__ of the object (and its class, and parent classes of this class). But __getattribute__ still may cause problems.

On the other hand, better_exceptions already calls __repr__ which theoretically also can have site effects. So general safety is violated anyway.

[2019-01-20 15:55] Qix- commented on #71
That's what I was thinking. `inspect.getattr_static` would do nicely here.

Yes but `__repr__` having side effects isn't necessarily a good idea anyway, IMO. I don't really care about that.

[2019-01-20 17:32] gergelyk commented on #71
`inspect.getattr_static` - good finding. I agree regarding `__repr__`.

[2019-02-01 10:03] Netroxen opened #74 "PDB Integration"
I'm currently using https://pypi.org/project/pdbpp/ as my debugger and was wondering if there's a way to hook better_exceptions into the `.pdbrc.py` file when a pdb statement or error occurs.

Any ideas on this..?

This is my current pdbrc configuration:
[code]

[2019-02-08 12:02] Incanus3 commented on #10
Hi,
I just tried the startup script from @ramast and it works fine, but the better_exceptions output isn't colorized. To make colors work, you can add `better_exceptions.SUPPORTS_COLOR = True` to the final `if` body (not sure what it will do if the terminal doesn't support colors, probably just print the color codes).

[2019-02-10 05:42] Oxicode opened #75 "ModuleNotFoundError: No module named 'colorama'"
![image](https://user-images.githubusercontent.com/1320709/52530063-b863a780-2ccc-11e9-8a36-9f239b49f893.png)

[2019-02-10 07:32] Delgan commented on #75
Hello @Oxicode.

Did you get thiss error while trying `better_exceptions` after a fresh install, or did it just pop out while you was using the package for some time?
Did you install `better_exceptions` using the `pip` command?
Also, could you please tell me the output of this command in your terminal (trying to get some information about your Python environment):
[code]

I guess the obvious solut

[2019-02-11 15:56] Oxicode commented on #75
I get this error after install via PIP (new instalation)

Output command:

[code]

[2019-02-11 19:46] Delgan commented on #75
@Oxicode Thanks for the answers. I don't understand why it doesn't work. 😕

Can you please try to uninstall `better_exceptions`, and re-install it with verbose options, so maybe it will output something interesting.

[code]

[2019-02-13 17:08] Oxicode commented on #75
[code]

[2019-02-13 17:33] Qix- commented on #75
This is suspicious.

[2019-03-14 10:15] ocavue opened #76 "How to use better-exceptions with unittest?"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/Qix-/better-exceptions/issues/76)

I want to use better-exceptions to show error when using unittest. Here is my example:

test.py:

[code]

shell:

[code]

Is there any way to use better-exceptions to print exception stack?

---

<details>
<summary>
<b>IssueHunt Summ

[2019-03-14 20:35] Delgan commented on #76
Hi @ocavue.

The `.hook()` call is of no use here, because the `unittest` module formats exceptions using `traceback` as you can see here: https://github.com/python/cpython/blob/master/Lib/unittest/result.py#L185

I don't know if this is possible to change this behavior.

[2019-03-15 10:59] ocavue commented on #76
Found a simple but not perfect solution:

[code]

[code]

[2019-03-15 13:03] Qix- commented on #76
@Delgan how good/bad would it be to provide an option to `.hook()` to override the built-in `TracebackException` class?

[2019-03-17 18:34] Delgan commented on #76
@Qix- Honestly, I don't know, I don't have a strong opinion about this.

The `sys.excepthook` is intended to be replaced, this only impacts the `stderr` output of an application which going to crash anyway. So, there is not much risk to monkeypatch it.
Overriding a whole built-in class like `TracebackException` is more intrusive. However, `better_exceptions` also provides a patch for `logging` and

[2019-03-17 18:52] Qix- commented on #76
^ That seems like the better approach in terms of hooking, even if it's using an undocumented method. If that works @ocavue an you let us know?

[2019-03-18 05:14] ocavue commented on #76
Ok, I will try today.

[2019-03-18 05:59] ocavue commented on #76
Although it's an undocumented method, it seems to work well on all python versions. So I think this solution is greet and we should write it in README.

( I used docker-compose to test it )

[code]

[2019-03-18 06:08] ocavue commented on #76
If you guys agree with me, I can create a PR with some tests about this hooking, to make sure that future python nightly version doesn't break this behavior.

[2019-03-18 11:14] Qix- commented on #76
@ocavue yes please. :)

[2019-03-21 06:46] Macr0phag3 commented on #10
Hi~

if you don't want to see ipython's exception in the Traceback, you can use this one:
[code]

example:

before:
[code]

after:
[code]

i don't know how to pop the exception in the Traceback...so i just delete the line 1 to 6

[2019-03-23 06:26] dansan opened #78 "fix Python 2 import"
The Python 2 import code for `load_module()` in `__main__.py` is broken:

[code]

[2019-04-10 04:59] frostming commented on #53
This solution disables the debugging feature in IPython, which complains no traceback is found,

[2019-04-10 07:38] frostming commented on #10
To make it work with IPython debug, use this improved version:
[code]

[2019-04-14 15:25] jayvdb opened #80 "psutil, expect and setlocale"
I am packaging this for openSUSE, and noticed that it was using `ps`.  I noticed because that isnt in the standard rpmbuild image, so I got file not found errors in the execs.  I wonder if it would be possible to use the Python package [`psutil`](https://pypi.org/project/psutil/) instead, as that would make the tests a bit more independent of the host environment.

Also it is using `expect`.  [`pe

[2019-04-14 16:10] Qix- commented on #80
Feel free to open a PR if it fixes it :) would love to have less of a dependency on running commands such as that.

[2019-04-16 09:51] chaotianjiao opened #81 "How can I use in pycharm?"
Hello , I have already successfully install better-exceptions. When I create a new *.py file ,how can I use this module ,like:
import better-exceptions
and then?

[2019-04-16 10:03] chaotianjiao commented on #81
import better-exceptions
better_exceptions.hook()
# then your code

[2019-04-16 10:04] #81 closed

[2019-04-25 09:51] cool-RR opened #82 "Show in readme how to use in existing code, without the special shell"

[2019-04-25 10:09] Qix- commented on #82
https://github.com/Qix-/better-exceptions/blob/master/README.md#usage

🤨

[2019-04-29 02:51] #22 closed

[2019-05-06 10:07] blueyed opened #85 "Catch/handle error from __repr__"
`repr()` might trigger database queries in Django, and then e.g. pytest-django
might throw an exception that disallows this.

Therefore when using better-exceptions from a debugger it might crash it there.

I think the call to `repr` should be protected against this.

[code]

[2019-05-06 10:08] blueyed commented on #71
Re `repr()` I've created https://github.com/Qix-/better-exceptions/issues/85 - I think better-exceptions should not crash through it.

[2019-05-06 18:35] Delgan commented on #85
Good catch!

I think this is [implemented](https://github.com/Qix-/better-exceptions/blob/1c82a8f8e53b9a04a79b865d2816d8890b1c1362/better_exceptions/formatter.py#L117) but not yet released.

[2019-05-07 05:18] Qix- commented on #85
I can do a release sometime today :)

[2019-05-07 06:44] blueyed commented on #85
Note that pytest's `Fail` exception is derived from `BaseException`, so would not be caught there.

[2019-05-08 07:41] #78 closed

[2019-05-11 06:47] lengthmin commented on #53
I meet this problem too.
Window 10
System language: Chinese

![image](https://user-images.githubusercontent.com/13938334/57566055-9b895e00-73fa-11e9-82a3-a8ec4a611b8e.png)

---
so I decide to try [#issuecomment-387991544](#issuecomment-387991544)'s solution,
![image](https://user-images.githubusercontent.com/13938334/57566116-5c0f4180-73fb-11e9-8171-af50d73d9c20.png)

and it works.
- `sys.getdefau

[2019-05-11 07:25] Delgan commented on #53
Thanks for the report @lengthmin!

I'm re-opening this issue, then, since it's clear something should be done on our side to fix it. I will try to find some time to investigate this.

Which Python version are you using please?

[2019-05-11 07:36] lengthmin commented on #53
Python 3.7.1
I think the code `locale.getpreferredencoding()` is to use every country's own encoding type, but most of them don’t support every unicode character completely.
so it better to switch to UTF-8

[2019-05-11 07:44] Delgan commented on #53
As we are writing exceptions on `sys.stderr`, I thought we may use `sys.stderr.encoding`. Does it equal to `utf8` on your system?

[2019-05-11 07:55] lengthmin commented on #53
yes
![image](https://user-images.githubusercontent.com/13938334/57566966-122b5900-7405-11e9-93dc-26a93fb5339a.png)

[2019-05-11 08:23] Delgan commented on #53
Great, thanks!

@Qix- Any thoughts on replacing `locale.getpreferredencoding()` with `sys.stderr.encoding`? Can you remember why `getpreferredencoding()` was used in the first place?

[`sys.getdefaultencoding()`](https://docs.python.org/3/library/sys.html#sys.getdefaultencoding) could work too, but it's seems to contain the encoding internally used by CPython to store `str` objects, so this is not

[2019-05-11 10:43] Qix- commented on #53
If it works, then let's do it :)

[2019-05-20 01:32] majutsushi opened #87 "Logged exceptions shouldn't contain colour"
Currently if the output is to a terminal, then an exception that gets logged will also include the colour escape codes. This is not really ideal since they will just show up as raw escape codes in most editors, making the log harder to read. So it would be great if the logged exceptions could skip the colour-coding even if the current terminal supports colours. The output to the terminal itself sh

[2019-05-20 02:26] Qix- commented on #87
I'm confused.

Yes, correct. That's how terminal colors work :p

Which editors? Where?

Why would that be great? That just means no color.

I'm completely lost. What issue are you facing?

[2019-05-21 05:06] majutsushi commented on #87
I mean that exception colours will also be present in log files that get written when using the `logging` module, for example when using `logging.exception("oops")`. These escape codes don't really belong in log files, only in direct terminal output, because editors that you would use to inspect log files are (generally) not terminals.

[2019-05-21 09:38] Qix- commented on #87
Ohhh, you mean with the logging module. Okay, I agree.

[2019-05-22 02:08] majutsushi commented on #87
Sorry for being unclear earlier!

[2019-05-22 07:40] Qix- commented on #87
No problem :)

[2019-06-13 01:37] jw-cpnet commented on #87
Yes, I'm facing the same issue. Could you please consider adding an option to disable coloring?

[2019-06-18 18:10] abdulniyaspm opened #90 "Navigation Keys are not working in better-exception Repl(MacOs)"
I am using **Macos** and I am unable to use the navigation keys to jump into my previous Repl line, Instead it showing me escape characters.

[code]
I tried the same in my python interpreter but it does shows me the correct result.

[code]

I think `sys.__interactivehook__`  is not getting called([in order register the readline](https://github.com/python/cpython/blob/master/Lib/site.py#L405)) whil

[2019-06-18 20:54] Qix- commented on #90
PR is welcome :)

[2019-07-13 08:21] ocavue commented on #76
Interesting bot.

[2019-07-13 08:28] ocavue commented on #76
I have already posted a PR for this issue: #77

[2019-07-16 06:46] techdragon commented on #10
There are a number of code snippets posted in this issue. It seems like this may already work, but not out of the box. Is there a canonical workaround for ipython's different way of handling tracebacks

Ideally one that doesn't require messing with creating a personal ipython startup script. My personal preference would be registering an ipython magic like many other ipython related libraries do.

[2019-07-16 19:37] alexmojaki commented on #10
Someone mentioned `%xmode` in passing and I think it deserves more attention. For those who don't know, `%xmode Verbose` will change the builtin exception handler to display variables. It's trying to solve the same problem as `better-exceptions`. Wouldn't the best solution be to identify what `better-exceptions` has to offer that `xmode` doesn't and then integrate those features directly into IPyt

[2019-07-17 08:29] lokesh1729 commented on #76
@ocavue @Qix- does anyone need my help or this issue was almost fixed ??? I see the PR #77 not merged yet.... what are we waiting for?? it was reviewed and approved right?

[2019-07-17 08:32] lokesh1729 commented on #87
@Qix- @majutsushi any update on this??? as i understand we don't want the color ASCII characters to include while logging to files...

[2019-07-17 08:33] lokesh1729 commented on #71
@Qix- @gergelyk any update on this??

[2019-07-17 10:09] Qix- commented on #87
@lokesh1729 As is with most OSS, if it is not updated on this issue, then there is no update. We don't secretly discuss/code outside of Github. Please don't spam my issues with comments asking for updates.

[2019-07-17 10:27] lokesh1729 commented on #87
@Qix- i understand but my intention is not to spam but to contribute... i want to work on this issue, so "update" i mean is wanted to know if someone has already made a progress on it...

[2019-07-17 12:32] ocavue commented on #76
I think the reason why #77 is not merged yet is that I didn't click the "Slove Conversation" button before. 😂

[2019-07-17 12:49] lokesh1729 commented on #76
"Solve Conversation" button ??? i never know github has such feature :P

[2019-07-17 13:11] ocavue commented on #76
I forgot what its name is. I think it has the word "solve" (not slove) in it

[2019-07-17 13:44] Qix- commented on #87
Nope, nobody has made progress on it.

[2019-07-17 18:29] kevgathuku commented on #90
I also experienced the same on MacOS and `Python 3.7.4`
I'll look into it some more.

[2019-07-17 18:56] kevgathuku commented on #90
I've added a potential fix for this in https://github.com/Qix-/better-exceptions/pull/91
Please check it out when you get a chance
cc @abdulniyaspm @Qix-

[2019-07-20 17:25] alexmojaki commented on #10
OK, somewhat coincidentally, an alternative possibility has come up here: https://github.com/ipython/ipython/issues/11827#issuecomment-513001601

In particular:

Essentially it would be good if there was a package which had a lower level API that returned information about a traceback which a user could easily format in different ways. IPython would be interested in such a package, as would I, and

[2019-07-20 18:24] Qix- commented on #10
Hey @alexmojaki, I'm still around - moved around the world about 8 months ago and have just lately been getting back into OSS.

I appreciate the heads up about the ipython issue - I'd be very interested in a more comprehensive package.

As for the neglect, I will be rectifying that in the coming week.

[2019-07-20 20:41] Carreau commented on #10
Thanks that is great ! Hope you enjoyed your trip around the world !

Some notes: IPython also support showing variables values in stacktraces; it is disabled by default because we had issues where this was leaking secrets in tracebacks during talks, or to notebooks published on github. Though the way you show it is way nicer  than ours!

There are also 2 things that we do, which I believe this do

[2019-07-20 20:54] alexmojaki opened #92 "Multiline statements/expressions and context"
I find it annoying when tracebacks only show a single line for a frame, when that frame may be executing a multiline expression or frame and that single line leaves out critical context. I see that better_exceptions doesn't address this. Here's an example:

[code]

Output:

[code]

In particular this doesn't show the function `div` or the argument `b` (which causes the exception) at the top. It se

[2019-07-20 21:29] alexmojaki commented on #10
@Carreau I've opened #92 to discuss showing multiple lines in a frame.

[2019-07-20 21:53] Carreau commented on #92
For the terminal I think it is a tough decision, and one of the reason I want to separate generating a data structure that contain the relevant information and the rendering is that in Jupyter Notebook, for example, we use HTML to have 1) collapsible elements and 2) values as a tooltip on hover.

I find having the context also quite more powerful than the value themselves; but not only for multili

[2019-07-21 13:01] cknd commented on #92
Hello! I wanted to leave a +1 for multiple lines of code context & for variables set apart from code -- what motivated me to write stackprinter despite knowing better-exception was that I liked IPython's multiline code contexts, I just wanted to see all variables from that context too. But I found it hard to skim/recognize code at a glance when the source lines were interleaved with variable value

[2019-07-23 04:34] philippludwig commented on #87
I can’t reproduce this. Whenever the `logging` module is involved, nothing of the output is colored. Maybe someone can provide a MCVE.

[2019-08-27 09:43] stuaxo opened #95 "PTH files may be deprecated"
I don't know if you have seen this python issue to deprecate PTH files.

https://bugs.python.org/issue33944

One of my projects, [vext](http://github.com/stuaxo/vext/) also uses PTH files, but I haven't had time to weigh in on the issue above.

I feel, like we both our libraries have a legitimate use-case, so hope this doesn't disappear without some replacement for running code at startup.

[2019-08-27 10:16] Qix- commented on #95
Thank you for bringing this to my attention, I've responded to the issue.

It really sounds like someone had a bad time with some .PTH related code and wanted to kill the whole thing off without really thinking much about it.

There's a shockingly low amount of "let's fix it instead of kill it", which I don't like to see coming from _any_ development community - let alone Python's.

[2019-08-27 10:16] #95 closed

[2019-08-27 10:17] Qix- commented on #95
Closing for now as there's nothing much I can do beyond this point. Thank you again for letting me know!

[2019-08-27 10:39] stuaxo commented on #95
Yeah, just a heads up really.

Similarly, there seems to be a the same mentality with `pip` ... I understand they want to make everything more simple (separate installation from configuration apparently), but I find it convenient being able to install + configure from one place.

/rant over.

[2019-08-27 11:53] stuaxo commented on #61
Quick note to myself on where to find the filename output:

https://github.com/Qix-/better-exceptions/blob/master/better_exceptions/formatter.py#L253

Another note, about how this becomes a bit annoying under docker - paths are different (though the hostname bit of the file url being different would alert the terminal emulator) - this is a bit past the MVP of getting this working at all though.

[2019-08-27 14:48] Qix- commented on #61
There's no feasible way to do that in docker, really. That would just add to the complexity and not something we should support.

[2019-08-27 15:14] stuaxo commented on #61
That bit was definitely a note too myself, that's something the terminal emulator could do eventually, convert remote URLs to local ones, e.g.

file://some-hostname-docker-came-up-with/somepath/myfile.py
to
file://localhost/some/docker-mountpoint/somepath/myfile.py

But I make have a fork of this, that can replace the beginning bit of the path somehow, as my current dev is all in docker containers

[2019-08-27 21:25] stuaxo commented on #61
Here's an initial go at a PR  https://github.com/Qix-/better-exceptions/pull/96

No tests yet.

[2019-09-01 19:45] alexmojaki commented on #92
@Carreau I've started work on a library https://github.com/alexmojaki/stack_data which focuses just on the data aspect of tracebacks. I'm currently integrating it into stackprinter in https://github.com/cknd/stackprinter/pull/23 because it's an easier place to get started. IPython/Jupyter will be next, followed by better-exceptions if possible.

[2019-09-02 03:16] JamCh01 opened #98 "Code difference"
Hello, I used your project in my own code. I download it by pypi, but I found some differences with your project just like:
this is the project code
https://github.com/Qix-/better-exceptions/blob/master/better_exceptions/__init__.py#L52
[code]
this is the pypi code
[code]
MD5 (better_exceptions-0.2.2.tar.gz) = 94bd5de2cf77e5b4189bd5e74637bd8c
It seems that you didn't update in pypi after you chang

[2019-09-28 12:17] herrome commented on #53
change the code file "ENCODING = locale.getpreferredencoding()" to "ENCODING = utf-8"
it works

[2019-09-28 15:34] Qix- commented on #53
@herrome It works for you, but doesn't for anyone that is using a different encoding. I wish we lived in a world where utf-8 was used everywhere but that just isn't the case yet.

[2019-09-30 09:50] #71 closed

[2019-09-30 09:50] #76 closed

[2019-10-03 18:44] isaac-philip commented on #87
Hello I c this issue still open? I can have a look

[2020-03-06 19:51] vanyakosmos opened #100 "activate extension only when BETTER_EXCEPTIONS has true-like value: '1', 'on' or 'yes'"
When you have hierarchy of environment values (eg multiple docker-compose files that override each other) it will be easier to turn on/off this extension by just changing BETTER_EXCEPTIONS from `0` to `1` and vise-versa instead of adding/removing env var from all configs each time...

[2020-03-07 02:18] Qix- commented on #100
I agree. PR welcome. Just test for `1` though, nothing else.

[2020-04-06 08:53] ram-bv opened #102 "FileNotFoundError on PyPy"
I got this error running on pypy3.6-v7.3.0-linux64:

[code]

This is frustrating because I can't know what's the directory it's not finding. Can better-exceptions deal with such problems with graceful degradation? If a certain frame has a missing task, it's better to mark it as missing than crash.

[2020-04-06 08:58] alexmojaki commented on #102
I know it looks weird but I ran into this too recently, `os.getcwd()` itself needs to open some file under the hood, I don't know why. Check if it works on its own?

[2020-04-06 09:12] ram-bv commented on #102
Damn Alex, are you stalking me? ;)

This is my work account, by the way.

I confirmed `os.getcwd()` works on its own. It's curious that it would fail when called inside `abspath`. In any case I'd recommend that even if PyPy or the standard library have bugs in that code, that better-exception should degrade gracefully when they happen.

[2020-04-06 15:40] Qix- commented on #102
We can wrap it, though it's a matter of what to do in lieu of the existing logic if an exception is raised.

[2020-04-07 12:00] ram-bv commented on #102
I'd show something like `SOURCE UNAVAILABLE` for those frames, anything besides failing.

[2020-04-22 15:15] gromenauer commented on #82
Maybe you was asking for:
[code]
as seen in https://github.com/Qix-/better-exceptions#troubleshooting

[2020-07-09 14:25] kierun opened #103 "TERM setting of tmux-256color vs screen…"
I run `tmux 3.1` and have set a few `TERM`: with `export TERM=tmux-256color`, I get no colour support in traces,
whereas with `TERM=screen` I get all the nifty colours.

Here is screenshot:

![screenshot](https://user-images.githubusercontent.com/3079575/87052188-66dc8680-c1f8-11ea-9aed-f4fea7409186.png)

[2020-08-06 16:15] stuaxo commented on #95
Maybe in the longer term having a pep for import hooks seperate from pth files would be an idea, along much like better_exceptions these could be gated behind environment variables or some sort of config in the virtualenv itself.

[2020-09-04 13:23] IllDepence opened #104 "Not working with ~/.python_history"
Hi,

I noticed that on my system the interactive console launched as `python3 -m better_exceptions` does not interact with `~/.python_history`—i.e., neither old commands can be retrieved by pressing the arrow up key, nor do executed commands get appended to `~/.python_history`.

Example:

![15992249591](https://user-images.githubusercontent.com/1835279/92243049-15333e00-eec1-11ea-9510-3f0d21d5cb88

[2020-10-14 00:50] #75 closed

[2020-12-02 14:49] ygworldr commented on #103
Any update on this?

[2020-12-02 15:26] Qix- commented on #103
@ygworldr https://blog.sindresorhus.com/issue-bumping-e3b9740e2a0

[2020-12-03 08:58] kierun commented on #103
`export TERM=tmux` works fine as a work around. The terminal setting appears to support 256 colours. Meh, not ideal but it works…

[2020-12-03 08:58] #103 closed

[2020-12-13 06:53] jnoortheen opened #106 "threading.excepthoom new in python 3.8"
currently `better_exceptions.hook()` patches `sys.excepthook` and logging modules. It will be perfect to set the same for threads as well.

doc: https://docs.python.org/3/library/threading.html#threading.excepthook

[2020-12-21 01:45] sumanthratna opened #108 "Include Django middleware in better-exceptions"
# Rationale
this would remove a lot of redundant code across Django projects

# Proposed API

[code]
[code]
This should be really easy to implement but I want to make sure you're (@Qix-) okay with maintaining this code.

[2020-12-21 23:12] Qix- commented on #108
I haven't touched Django in a long time; how does Django pick this up? Does this interfere with any of the existing code?

If not, then a PR would be welcome :)

[2020-12-22 00:16] sumanthratna commented on #108
To my knowledge, this should work pretty smoothly. re: existing code, I don't think so—the two code blocks I have in the original post should be all that's needed to get this feature ready to go.

I'll create a PR for this. @Qix- should I also create a test case? We'll need to add Django as a CI dependency if so

[2020-12-23 00:47] Qix- commented on #108
@sumanthratna normally Id say yes but in this case no, its OK.

[2020-12-23 01:12] #108 closed

[2020-12-23 17:02] sumanthratna opened #111 "ModuleNotFoundError: No module named 'better_exceptions.integrations'"
Hi @Qix-, sorry to bother you again.

The Django middleware integration still doesn't work because of an error I didn't catch earlier.

# Reproduction

## Local Editable Install
1. `git clone --depth 1 https://github.com/Qix-/better-exceptions.git`
2. `cd better-exceptions`
3. `python3 -m pip install -e .`
4. `python3 -c "import better_exceptions.integrations"` raises no error!

## VCS Install
1.

[2020-12-24 08:31] Qix- commented on #111
Ah yeah this is my fault, I forgot about this.

Python package management is a huge pain :/

[2020-12-24 08:35] Qix- commented on #111
Okay released as 0.3.2, let me know if that fixes it :)

[2020-12-24 15:39] sumanthratna commented on #111
Yup, 97c0b200df960ab28ade687c8897290bdd08e035 fixed the issue. Thanks again!

[2020-12-24 15:39] #111 closed

[2020-12-28 20:54] gilbh opened #114 "weird escape chars installed of lines"
two problems:

1) I just installed with pip and ran a test script for hook. Odd results. This is in Windows 10 command line:
[code]

Here's the code of `test_frosch.py`:
[code]

When I try to run with IPython inside nvim Terminal -- nothing happens at all (as if the hook() does not, well, hook):
[code]

Thanks!

[2020-12-29 04:49] Qix- commented on #114
Which terminal emulator? cmd.exe, Windows Terminal, powershell, etc.

Can you expand on this? Which environment are you running? By nvim do you mean neovim?

[2020-12-29 12:49] gilbh commented on #114
This happens on my two computers, both run Windows 10, through the cmd.exe.
Yes, nvim is neovim, but that is not what causes the issue. The screen shot shows both failures from the cmd.exe, the first with python and the second with ipython:
![image](https://user-images.githubusercontent.com/39532610/103284813-496bc680-49aa-11eb-8813-647a615ed4de.png)

I am running Python 3.8.6 inside a virtualenv.

[2020-12-29 12:50] gilbh commented on #114
You can see in the above screen shot:
1) for python, the characters come out wrong.
2) for ipython, there is no hook.

[2020-12-29 13:03] Qix- commented on #114
cmd.exe doesn't support ansi escape characters. Switch to Microsoft Terminal (from the app store). Not only is it faster but it's the all around better option.

[2020-12-29 13:22] gilbh commented on #114
Yup, Terminal did it. Is there any solution for ipython integration?

Gil Ben-Herut, PhD
Associate Professor
Director of Graduate Studies
Department of Religious Studies
University of South Florida
http://religious-studies.usf.edu/faculty/gbherut/

Check out my recent monograph *Śiva's Saints: The Origins of Devotion in
Kannada according to Harihara's *Ragaḷegaḷu
<https://global.oup.com/academic/p

[2021-04-11 11:32] FateScript opened #115 "why "export BETTER_EXCEPTIONS=1" works?"
Hi, thanks for your awesome project :)

I'm curious about why just exporting an env variable could make [hook fucntion](https://github.com/Qix-/better-exceptions/blob/master/better_exceptions/__init__.py#L57) register expectionhook to python.

This doesn't seem straightforward compared with next two lines of code:
[code]

Beg your explanation,  thanks.

[2021-04-11 11:56] FateScript commented on #115
Oh, I see. Seems [code here](https://github.com/Qix-/better-exceptions/blob/master/setup.py#L14-L47) reigisters your hook.pth.

[2021-04-11 12:12] #115 closed

[2021-10-13 14:08] blueyed opened #117 "terminfo (tmux-256color, xterm-256color) not considered to be valid"
Using /usr/lib/terminfo/t/tmux-256color from ncurses 6.2-2 (on Arch Linux) color support (`SUPPORTS_COLOR`) is not detected properly.

[code]

This also happens with /usr/lib/terminfo/x/xterm-256color (magic_number also being 542).

Using better-exceptions 0.3.3-1-g70e282d.

[2021-10-13 14:35] Qix- commented on #117
Hmm. Very strange. I wonder if terminfo updated its file format.

@eric-s-raymond Hey there, sorry to bug you (not sure if you'll see this at all anyway).  Do you know why the magic number might be different between versions of terminfo? Did the file format change at all within the last few years?

@blueyed Would you be willing to attach the terminfo file on this issue so I can take a look? It sho

[2021-10-13 16:36] blueyed commented on #117
@Qix- https://archlinux.org/packages/core/x86_64/ncurses/download (via https://archlinux.org/packages/core/x86_64/ncurses/)
I have not checked, but it is likely the same as with the upstream/original files.  But I have no idea about this magic number in general.

[2021-10-15 18:26] riyadparvez opened #118 "Don't print stack frames from certain libraries"
Is it possible to not print stack frames from third party library? Ideally with a confiuration `ignore=['pandas', 'numpy']` or a function `ignore(['pandas', 'numpy'])`?

[2021-10-19 01:43] Qix- commented on #118
Yep, agreed.

Perhaps it would be useful to ignore paths that exist outside of the root of the module entirely, with the ability to enable them in scenarios where it's necessary via an environment variable.

@Delgan (hi! long time 👋🏻 hope you're doing well) what do you think about that idea?

[2021-11-27 22:02] Delgan commented on #118
Hey @Qix-! Sorry for this answer a month later, I had taken a little break. :)

Regarding the issue raised here, it looks to me that it has little to do with `better_exceptions` and is rather a problem on `loguru` side. The traceback is displayed entirely which leads to printing undesired frames from third libraries. Using solely `better_exceptions` it would be displayed as follow:

[code]

Howeve

[2021-12-06 11:21] bremme commented on #117
I can confirm this. I'm running Ubuntu 20.04 with the default gnome-terminal application. My `TERM` environmental variable is set to `xterm-256color` and I get no colored output.

If I force colors by setting: `export FORCE_COLOR=1` I get colored output.

Let me know if I can do anything else to help resolve this issue?

[2021-12-06 11:32] bremme commented on #117
For completeness, `better-exceptions` finds the following values for my system:

* terminfo file: `/usr/lib/terminfo/x/xterm-256color`
* magic_numer: `542` (hex `0x21E`)

[2021-12-06 11:49] bremme commented on #117
@Qix- I zipped my `xterm-256color` terminfo file since Github does not allow uploading the plain binairy file. Hope this helps.

[xterm-256color.zip](https://github.com/Qix-/better-exceptions/files/7660406/xterm-256color.zip)

[2022-01-29 10:10] max13fr opened #119 "How to hide sensibles data like passwords, tokens, ..."
Hello,

First, thanks for your really useful package !

I would like to hide secrets data like password, tokens, private_key, ... Do you have any solution ?

I think the best approch is to check the argument name in case of simple structure (str, int, ...) and argument content in case of dict for example, then override the sensitive data by a raw string. Do you know what function I can override ?

[2022-01-29 10:36] Qix- commented on #119
Yeah, don't use this package if you're working with sensitive information. It's not meant to be used in production. There is no other alternative here - anything would be a hack at best, insecure at worst.

[2022-01-29 10:36] #119 closed

[2022-03-22 01:51] riyadparvez commented on #118
@Delgan I've created a new issue since it's specific to loguru https://github.com/Delgan/loguru/issues/622. I am closing this one.

[2022-03-22 01:51] #118 closed

[2022-05-07 21:52] mxrch commented on #75
Up, I'm having the same issue on Windows 11 (on Powershell, and Python 3.8) after a fresh install of better_exceptions with pip, and colorama is already installed :

![image](https://user-images.githubusercontent.com/17338428/167272820-91fd53c4-f175-4829-9804-a3c459e2c61e.png)

[2022-05-20 16:19] kloczek opened #120 "0.3.3: pytest is failing"
I'm trying to package your module as an rpm package. So I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w --no-isolation`
- because I'm calling `build` with `--no-isolation` I'm using during all processes only locally installed modules
- install .whl file in </install/prefix>
- run pytest with PYTHONPATH point

[2022-05-20 19:38] Qix- commented on #120
We don't use pytest, hopefully nothing in the docs indicates this. `test_all.sh` is the test suite.

[2022-05-20 19:38] #120 closed

[2022-05-20 20:08] kloczek commented on #120
You may not use pytest .. nevertheless pytest even against cyreewnt state of the code shows some code issues.

[2022-05-20 20:43] Qix- commented on #120
I disagree. Tests run fine.

[2022-06-01 13:56] stuaxo opened #121 "Installing from pip triggers a "WARNING: There was an error checking the latest version of pip.""
`pip install better-exceptions` triggers a warning:
```WARNING: There was an error checking the latest version of pip.```

[2022-06-01 15:04] #121 closed

[2022-06-16 16:29] stuaxo opened #122 "f_lineno not an attribute on traceback"
I'm not sure exactly where this issue comes from, but I see it with better_tracebacks enabled, and not, without it.

I'm not sure if it's in better exceptions, celery or python 3.8

[code]

[2022-10-29 15:07] Kreyren opened #124 "Define license on pypi"
Define the license for this project on pypi so that it can be automated e.g. package import by guix users

[code]

[2022-11-03 15:22] Qix- commented on #124
PR Welcome :)